<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IPrintPayment"/>
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:54333/PrintPayment.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IPrintPayment" contract="ServiceReferencePrintPayment.IPrintPayment" name="BasicHttpBinding_IPrintPayment"/>
        </client>
    </system.serviceModel>
</configuration>
